* {
  border-color: #C17E56 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #B18966 !important;
}
body {
  background-color: #0d0503 !important;
  color: #7A8171 !important;
}
html {
  background-color: #0d0503 !important;
}
input,
textarea {
  background-color: #0d0503 !important;
  color: #7A8171 !important;
}
blockquote,
pre {
  background-color: #0d0503 !important;
  color: #7A8171 !important;
}
.post-actions {
  background-color: #0d0503 !important;
}
.textarea-wrapper {
  background-color: #0d0503 !important;
  color: #7A8171 !important;
}
